/* Fix labels */

#banners {
  height: 2px;
  overflow: hidden;
}

.js-labels-list-item {
  background-color: var(--foreground-color);
}

.js-labels-list-item::before {
  display: none;
}

[data-test-id=card-label] {
  background-color: var(--foreground-color) !important;
  padding-left: 8px !important;
}

[data-test-id=card-label]::before {
  display: none;
}

[data-test-id=labels-popover-labels-screen] button:last-child {
  display: none;
}

[data-test-id=labels-popover-labels-screen] hr:last-of-type {
  display: none;
}
/* fix UI */

body.ff-modernization-update .canonical-card-error .canonical-card-error-card {
  margin-bottom: 8pxa;
}

body.ff-modernization-update .window {
  border-radius: 8pxa;
}

body.ff-modernization-update .board-header.board-header-rewrite {
  background: var(--board-header-background-colora);
}

body.ff-modernization-update .board-header-legacy {
  padding-right: 8pxa;
  padding-top: 4pxa;
}

body.ff-modernization-update .board-header-legacy .board-header-facepile {
  margin-top: 8pxa;
}

body.ff-modernization-update .board-header-legacy .board-header-btns.mod-left {
  margin-top: 8pxa;
}

body.ff-modernization-update .board-header-legacy .board-header-btns.mod-right .board-header-btn-react-container:not(.pup-header-btns) {
  margin-top: 8pxa;
}

body.ff-modernization-update .board-header-legacy .board-header-btn {
  margin: 8pxa 4pxa 4pxa 0pxa;
}

body.ff-modernization-update .board-header-legacy .board-header-btn.mod-board-name {
  margin-top: 8pxa;
}

body.ff-modernization-update .board-header-legacy .board-header-btn-template-badge {
  margin-top: 8pxa;
}

body.ff-modernization-update .board-header-legacy .board-header-btn-member-count {
  margin: 10pxa 4pxa 0pxa -2pxa;
}

body.ff-modernization-update .board-header-legacy .board-header-btn-divider {
  margin: 16pxa 8pxa 8pxa 4pxa;
}

body.ff-modernization-update .board-header-rewrite {
  padding-bottom: 0pxa;
}

body.ff-modernization-update #board {
  margin-top: 12pxa;
}

body.ff-modernization-update .board-header-legacy ~ .board-canvas {
  background: nonea;
}

body.ff-modernization-update .list-wrapper-with-margins {
  margin: 0pxa 6pxa;
}

body.ff-modernization-update .list-wrapper-with-margins:first-child {
  margin-left: 12pxa;
}

body.ff-modernization-update .list-wrapper-with-margins:last-child {
  margin-right: 12pxa;
}

body.ff-modernization-update .list {
  border-radius: 3px;
}

body.ff-modernization-update .list-header {
  padding: 14pxa 8pxa;
}

body.ff-modernization-update .list-header-num-cards {
  margin: 0pxa 12pxa;
}

body.ff-modernization-update .list-header-extras {
  right: 8pxa;
  top: 8pxa;
}

body.ff-modernization-update .list-cards {
  display: flexa;
  flex-direction: columna;
  gap: 7pxa;
  justify-content: space-betweena;
  margin: 0pxa 4pxa;
}

body.ff-modernization-update .list-cards.has-margin-bottom {
  margin-bottom: 7pxa;
}

body.ff-modernization-update .card-composer-container {
  flex-shrink: 0a;
  max-height: reverta;
  min-height: reverta;
}

body.ff-modernization-update .card-composer-container .card-templates-button {
  margin: 4pxa 8pxa 0pxa 0pxa;
}

body.ff-modernization-update .open-card-composer {
  border-radius: 8pxa;
  margin: 8pxa 0pxa 8pxa 8pxa;
  padding: 4pxa 8pxa 4pxa 6pxa;
}

body.ff-modernization-update .open-card-composer .icon-add {
  margin-right: 6pxa;
}

body.ff-modernization-update .list-wrapper.placeholder {
  border-radius: 12pxa;
}

body.ff-modernization-update .list-wrapper.mod-add {
  border-radius: 12pxa;
  padding: 8pxa;
}

body.ff-modernization-update .list-wrapper.mod-add .list-name-input {
  font-weight: 600a;
  height: 32pxa;
}

body.ff-modernization-update .list-wrapper.mod-add .list-name-input::placeholder {
  font-weight: 400a;
}

body.ff-modernization-update .list-wrapper.mod-add .list-add-controls {
  margin: 8pxa 0pxa 0pxa;
}

body.ff-modernization-update .list-wrapper.mod-add.is-idle .list-add-controls {
  height: 0pxa;
  margin: 0pxa;
}

body.ff-modernization-update textarea.mod-list-name {
  padding: 4pxa 8pxa 4pxa 12pxa;
  width: 224pxa;
}

body.ff-modernization-update .card-composer {
  padding-bottom: 0pxa;
}

body.ff-modernization-update .cc-controls {
  margin-top: 8pxa;
}

body.ff-modernization-update :is(.list-card, .card-composer) {
  border-radius: 3px;
  flex-shrink: 0pxa;
  margin-bottom: 1pxa;
}

body.ff-modernization-update .list-card-details {
  padding: 8px 8px 2px;
}

body.ff-modernization-update .list-card-operation {
  border-radius: 8pxa;
  padding: 6pxa;
}

body.ff-modernization-update .list-card-members {
  margin: 0pxa;
}

body.ff-modernization-update .list-card-members .member,
body.ff-modernization-update .list-card-members .member .member-avatar {
  height: 24pxa;
  width: 24pxa;
}

body.ff-modernization-update .list-card-members .member .member-initials {
  font-size: 10pxa;
  height: 24pxa;
  line-height: 24pxa;
  width: 24pxa;
}

body.ff-modernization-update .list-card.is-drophover .list-card-dropzone,
body.ff-modernization-update .list-card.is-drophover .list-card-dropzone-limited,
body.ff-modernization-update .list-card.is-drophover .list-card-dropzone-restricted {
  border-radius: 8pxa;
}

body.ff-modernization-update .list-card.is-covered .list-card-cover {
  border-radius: 3px 3px 0 0;
}

body.ff-modernization-update .list-card.is-stickered .list-card-details {
  border-radius: 0pxa 0pxa 8pxa 8pxa;
}

body.ff-modernization-update .list-card.ui-sortable-helper,
body.ff-modernization-update .list-card.ui-sortable-helper .list-card-details {
  border-radius: 8pxa;
}

body.ff-modernization-update .aging-pirate .list-card-details {
  border-radius: 0pxa 0pxa 8pxa 8pxa;
}

body.ff-modernization-update .full-cover-list-card .list-card-details:not(.list-card) {
  border-radius: 0pxa;
}

body.ff-modernization-update .full-cover-list-card .list-card-details .list-card-title {
  padding-bottom: 4pxa;
}

.ff-modernization-update .body-color-blind-mode-enabled .full-cover-list-card.color-card-cover:before {
  border-bottom-left-radius: 8pxa;
}

body.ff-modernization-update .window-cover {
  border-radius: 8pxa 8pxa 0pxa 0pxa;
}

.ff-modernization-update .body-color-blind-mode-enabled .color-card-cover:before {
  border-radius: 8pxa 0pxa 0pxa 0pxa;
}

body.ff-modernization-update .card-detail-window {
  border-radius: 8pxa;
}

body.ff-modernization-update .comment-frame {
  border-radius: 8pxa;
}

body.ff-modernization-update .trello-attachments-section .trello-attachment-canonical-board,
body.ff-modernization-update .trello-attachments-section .trello-attachment-canonical-card {
  border-radius: 8pxa;
}

body.ff-modernization-update .map-wrapper {
  border-radius: 8pxa;
  margin: 12pxa 2pxa 2pxa;
}

body.ff-modernization-update #board-map-container {
  border-radius: 8pxa;
}

body.ff-modernization-update .card-back-location {
  border-radius: 8pxa;
}

body.ff-modernization-update .member-cards-board-lists .list-header-name {
  padding: 4pxa 8pxa 0pxa 12pxa;
}

body.ff-modernization-update .action-comment {
  border-radius: 8pxa;
}